 <div class="card col-md-2 text-sm-center text-md-start align-self-center my-2" style="width: auto">
  <div class="card-body" >
    <h5 class="card-title">user</h5>
    <h6 class="card-subtitle mb-2 text-muted">userId: {{user.userId}}</h6>
    <p class="card-text"> email:{{user.email}}</p>
    <p class="card-text"> first name:{{user.firstName}}</p>
    <p class="card-text">last name:{{user.lastName}}</p>
    <a  class="btn btn-outline-dark" (click)="goToUsersManagement()"> back to users</a>
   
  </div>
</div>