<section class="vh-100" style="background-color: #2779e2;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h1 class="text-white mb-4">Register User</h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="register()">
            

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Email address</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="email" class="form-control form-control-lg" formControlName="email" placeholder="xxx@xxx.xxx" />
                <div *ngIf="email?.errors && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                  <div *ngIf="email?.errors?.pattern">    Email's format not valid     </div> 
              </div>		
              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Password</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="password" class="form-control form-control-lg" formControlName="password" placeholder="Password" />
                <div *ngIf="password?.errors && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                  <div *ngIf="password?.errors?.pattern">Password must contain at least 8 characters, 1 capital letter, 1 small letter and a number </div> 
                </div>	

              </div>
            </div>
            <div class="px-5 py-4">
              <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </div>
          </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>